* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.homeBg {
  background: url(images/splash.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}

/* NAVBAR */

.navBar {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-bottom: 0.5px solid grey;
  width: 100%;
  line-height: 80px;
  font-size: 18px;
  padding: 0 30px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Josefin Sans", sans-serif;
}

.navBar a {
  text-decoration: none;
  color: white;
}

.navLogo {
  float: left;
  height: 70px;
  padding: 0 10px;
}

.navBar ul {
  text-align: center;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
  display: inline-block;
}

.navBar ul li {
  display: inline-block;
}

.navBar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
}

.navBar ul li a:hover {
  background-color: gray;
}

.navBtns {
  /* text-align: center; */
  display: inline-block;
  padding: 0 30px;
}

.socials {
  float: right;
  display: inline-block;
  padding: 0 10px;
  font-size: 22px;
}

/* GENERAL CONTENT*/

.btns {
  margin-top: 10px;
  background-color: white;
  color: #191919;
  padding: 12px;
  float: left;
  border: 0;
  border-radius: 20px;
  margin-right: 10px;
}

.btns:hover {
  background: #848482;
}

.btns a {
  text-decoration: none;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  padding: 20px 0px;
}

.pagePadding {
  padding-top: 15%;
  text-align: center;
}

.HeadingMain {
  text-align: center;
}

.HeadingSecondary {
  padding: 30px;
}

body {
  background-color: rgb(0, 0, 0, 0);
  font-family: "Raleway", sans-serif;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
}

.content {
  margin-top: 55%;
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.containerPadding {
  padding-top: 30px;
}

h1 {
  font-size: 70px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  padding: 20px 0px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;

  /* font-size: 15px; */
}

.landingText {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ABOUT  */
.aboutBg {
  background: url(images/about.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}

.aboutTextContainer {
  float: left;
  color: rgb(255, 255, 255);
  padding-left: 10%;
  display: inline-block;
}

.aboutTextBox {
  width: 600px;
  padding: 20px;
  padding-top: 25;
  font-family: "Josefin Sans", sans-serif;
  line-height: 25px;
  /* border: 1px solid white; */
  border: 1px solid rgb(255 255 255 / 28%);
  border-radius: 12px;
  /* box-shadow: 0 0px 14px 0 rgb(255, 255, 255); */
  margin: 0 20px;
  background-color: rgb(0, 0, 0, 0.8);
  /* display: inline-block; */
  text-align: left;
  backdrop-filter: blur(10px);
}

.aboutVideo {
  display: inline-block;
  float: right;
  padding-right: 10%;
  /* margin: 0 20px; */
}

.ytvid {
  float: right;
  /* display: inline-block; */
  margin: 0 20px;
  width: 600px;
  height: 345px;
  /* border: 1px solid white; */
  border: 1px solid rgb(255 255 255 / 28%);
  border-radius: 12px;
  /* box-shadow: 0 0px 14px 0 rgb(255, 255, 255); */
  /* display: inline-block; */
}

/* BOOKING */

.bookingBg {
  background: url(images/book.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}

.bookingTextContainer {
  text-align: center;
  float: left;
  width: 25%;
  height: max-content;
  color: rgb(255, 255, 255);
  padding-left: 10%;
  display: inline-block;
}

form {
  width: 300px;
  padding: 24px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  background: rgb(0, 0, 0, 0.6);
  border: 2px solid white;
  border: 1px solid rgb(255 255 255 / 28%);
  display: inline-block;
  backdrop-filter: blur(30px);
}
.form-group {
  margin-bottom: 16px;
}
.form-group:last-child {
  margin-bottom: 0;
}
.form-group input {
  display: none;
}
label {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  padding-left: 20px;
  grid-gap: 16px;
}

label .checkbox {
  width: 20px;
  height: 20px;
  background: #ccc;
  border-radius: 4px;
  position: relative;
  transition: 0.2s ease;
  transition-delay: 0.2s;
}
label .checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: #fff;
  border-radius: 2.5px;
  transition: 0.2s ease;
  transition-delay: 0.2s;
}
.form-group input:checked + label .checkbox::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  transition-delay: 0s;
}
.form-group input:checked + label .checkbox {
  background: var(--dark);
  transition-delay: 0s;
}
label .checkbox .check {
  display: block;
  width: 12px;
  height: 6px;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%) rotateZ(-45deg);
}

label .checkbox .check::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background: #fff;
  transition: 0.2s ease;
  transition-delay: 0.2s;
}
label .checkbox .check::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.2s ease;
  transition-delay: 0s;
}
.form-group input:checked + label .checkbox .check::before {
  height: 100%;
  transition-delay: 0.2s;
}
.form-group input:checked + label .checkbox .check::after {
  width: 100%;
  transition-delay: 0.4s;
}

.submitBx {
  float: right;
  margin: auto;
  width: 26%;
  display: inline-block;
}

.submitBtn {
  font-family: "Josefin Sans", sans-serif;
  width: 300px;
  padding: 24px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  background: rgb(0, 0, 0);
  border: 2px solid white;
  display: inline-block;
}

/* PAYMENT */

.paymentBg {
  background: url(images/payment.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}

.paymentBx {
  margin: auto;
  display: inline-block;
}

.paymentTextContainer {
  width: auto;
  padding: 24px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  background: rgb(0, 0, 0, 0.8);
  border: 2px solid white;
  display: inline-block;
}

label {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  padding-left: 20px;
  grid-gap: 16px;
}

.submitBx {
  float: right;
  margin: auto;
  width: 26%;
  display: inline-block;
}

.submitBtn {
  font-family: "Josefin Sans", sans-serif;
  width: 300px;
  padding: 24px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  background: rgb(0, 0, 0);
  border: 2px solid white;
  display: inline-block;
}

.columnLeft {
  padding: 1.5rem;
  width: 450px;
  display: inline-block;
}

.columnRight {
  padding-bottom: 50px;
  padding: 1.5rem;
  width: 450px;
  display: inline-block;
}

.formContent {
  margin-bottom: 15px;
}

input[type="email"],
input[type="tel"],
input[type="name"],
input[type="surname"] {
  padding: 12px;
  width: 90%;
}

.paymentBtn {
  padding: 10px 20px;
  text-transform: uppercase;
  display: inline-block;
}

.purchase {
  float: right;
}

.back {
  float: left;
}

/* CONFIRMED */

.confirmedBg {
  background: url(images/jngle.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}

.ticketDownload {
  padding-left: 60px;
}

/* VENUE */
.venueBg {
  background: url(images/fog.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}

.venueBtns {
  display: inline-block;
}

.venueTextContainer {
  padding: 24px;
  margin: 20px;
  border: 5px solid white;
  border-radius: 5px;
  background: rgb(0, 0, 0, 0.6);
  border: 2px solid white;
  display: inline-block;
  line-height: 25px;
  font-family: "Josefin Sans", sans-serif;
  border: 2px solid rgb(255 255 255 / 58%);
  backdrop-filter: blur(10px);
}

.map {
  width: 70%;
}

.venueDirectLinks {
  padding: 0px 30px;
}

/* CONTACT */
.contactBg {
  background: url(images/red.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}

.contactTextContainer {
  width: 300px;
  padding: 24px;
  margin: 50px 20px;
  border-radius: 5px;
  background: rgb(0, 0, 0, 0.6);
  /* border: 2px solid white; */
  border: 1px solid rgb(255 255 255 / 28%);
  display: inline-block;
  line-height: 25px;
  font-family: "Josefin Sans", sans-serif;
  backdrop-filter: blur(10px);
}

.contactTextBox p {
  padding-bottom: 10px;
}

.contactTextBox a {
  color: white;
}
